.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 100px;
  width: 200px;

  color: #fff;

  background-color: #c0c0c0;
}

.input {
  display: block;
  margin-bottom: 100px;
  padding: 10px;
  height: 50px;
  width: 200px;
}

.easy {
  background-color: #f00;
}

.medium {
  background-color: #ff0;
  color: #000;
}

.strong {
  background-color: #0f0;
}
